[submodule "mission-service"]
	path = mission-service
	url = https://github.com/mehdicharife/mission-microservice.git
[submodule "mission-request-service"]
	path = mission-request-service
	url = https://github.com/mehdicharife/mission-request-microservice.git
[submodule "professor-service"]
	path = professor-service
	url = https://github.com/mehdicharife/professor-microservice.git
[submodule "mission-reimbursement-request-service"]
	path = mission-reimbursement-request-service
	url = https://github.com/mehdicharife/mission-reimbursement-request-service.git
[submodule "mission-transport-treatment-microservice"]
	path = mission-transport-treatment-microservice
	url = https://github.com/mehdicharife/mission-transport-treatment-microservice.git
[submodule "mission-order-microservice"]
	path = mission-order-microservice
	url = https://github.com/mehdicharife/mission-order-microservice
[submodule "mission-cost-calculation-microservice"]
	path = mission-cost-calculation-microservice
	url = https://github.com/mehdicharife/mission-cost-calculation-microservice
